<body>
    <main>
        <header>
            <h1>facebook</h1>
        </header>

        <div>
            <h3></h3>
            <h2>Facebook에서 전세계에 있는 친구, 가족, 지인들과 함께 이야기를 나눠보세요.</h2>
            <h3></h3>
        </div>

        <div>
            <input type="text" placeholder="이메일 또는 전화번호" name="login_id" id="id">
            <br>
            <input type="password" placeholder="비밀번호" name="login_pw" id="pw">
            <br>
            <button>로그인</button>
            <br>
        </div>

        <div>
            <button>비밀번호를 잊으셨나요?</button>
            <br>
            <button>새 계정 만들기</button>
            <br>
            
        </div>

        <div>
            <h5>유명인, 브랜드 또는 비즈니스를 위한 페이지 만들기</h5>
            <h5>Meta ⓒ 2022</h5>
        </div>
    </main>
</body>