<body>
    <main>
        <header>
            <h1>facebook</h1>
        </header>
        
        <h5>새 계정 만들기<br>
        빠르고 쉽습니다.</h5>
        <h5>성(姓)</h5>
        <input type="text" name="" id="">
        <h5>이름(성은 제외)</h5>
        <input type="text" name="" id="">
        <h5>휴대폰 번호 또는 이메일</h5>
        <input type="text" name="" id="">
        <h5>새 비밀번호</h5>
        <input type="text" name="" id="">
        <h5>생일</h5>
        <select name="year" id="">
            <option value="2022"></option>
        </select>
    </main>
</body>